<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net40" requireReinstallation="true" />
  <package id="ImapX" version="2.0.0.18" targetFramework="net40" requireReinstallation="true" />
  <package id="log4net" version="2.0.8" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net40" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="NuGet.VisualStudio" version="4.2.0" targetFramework="net461" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net40" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net40" />
</packages>